export CRAWL_DATA=$PWD/packages/crawler/data/2020-05.txt
export TRANSLATION_DIR=$PWD/packages/text/data
export RUST_LOG=engine=info,server=info
export SERVER_SENTRY_DSN=https://9965738e8eac44b9922b71951141f59d@o387306.ingest.sentry.io/5222373
